<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ion Toast
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Ion Toast</ion-title>
    </ion-toolbar>
  </ion-header>


<!--  Inline Toast-->

<ion-button color="danger" id="open-toast">Abrir Toast</ion-button>
  <ion-toast duration="5000" message="Hola mama, estoy aprendiendo a usar el toast" position="top" trigger="open-toast" color="danger"></ion-toast>


  <!--  Is open Property-->
  <ion-button color="warning" id="open-toast" (click)="openOrCloseToast()">Abrir Toast</ion-button>
  <ion-toast duration="5000" message="Hola mama, estoy aprendiendo a usar el toast" position="bottom" [isOpen]="showToast()"  (didDismiss)="openOrCloseToast()" color="success"></ion-toast>


  <!--  Controller Toast-->
  <ion-button color="success" id="open-toast" (click)="openToastService()">Abrir Toast con control</ion-button>

  <ion-button color="warning" (click)="createPhoto()">Create FOto</ion-button>

  @for(photo of photos(); track $index){
    <ion-item>
      <ion-label>{{photo.title}}</ion-label>
      <ion-button (click)="getPhotoById(photo.id)">Ver Mas</ion-button>
      <ion-button color="danger" (click)="deletePhoto(photo.id)">Eliminar Foto</ion-button>
    </ion-item>
  }


</ion-content>
