<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Iniciar Sesion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="loginForm"  (ngSubmit)="onSubmit()">


    <ion-item >
      <ion-label>Correo Electronico:
        <ion-note [color]="isIdentifierRequired || isIdentifierInvalid ? 'danger':'medium'">*</ion-note>
      <ion-input type="email" [clearInput]="true"
                 mode="ios"
                 formControlName="identifier"
                 [class.form--input__invalid]="isIdentifierRequired||isIdentifierInvalid" >
      </ion-input>
      </ion-label>
    </ion-item>

    @if (isIdentifierRequired){
      <ion-note class="form--error-message">El correo electronico es requerido</ion-note>
    }
    @if (isIdentifierInvalid){
      <ion-note class="form--error-message">El correo electronico es invalido</ion-note>
    }




    <ion-item>
      <ion-label>Contraseña:
        <ion-note [color]="isPasswordRequired ? 'danger':'medium'">*</ion-note>
        <ion-input type="password"
                   [clearInput]="true" mode="ios"
                   formControlName="password"
                   [class.form--input__invalid]="isPasswordRequired"
        >
          <ion-input-password-toggle slot="end"></ion-input-password-toggle>
        </ion-input>
      </ion-label>
    </ion-item>

    @if (isPasswordRequired){
      <ion-note class="form--error-message">La contraseña es requerida</ion-note>
    }


<!--    icono desde https://ionic.io/ionicons-->
    <ion-button color="success" type="submit" expand="block"
                [disabled]="isFormInvalid"
                [class.disabled-button]="isFormInvalid"
                [class.enabled-button]="!isFormInvalid"
                mode="ios">
      <ion-icon name="log-in-outline">
    </ion-icon> Iniciar Sesion  </ion-button>



  </form>

</ion-content>
