<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Iniciar Sesion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="loginForm" ]>
    <ion-item>
      <ion-label>Correo Electronico:
      <ion-input type="email" [clearInput]="true" mode="ios" formControlName="email"></ion-input>
      </ion-label>
    </ion-item>
    <ion-note color="danger">El campo es requerido</ion-note>
    <ion-note color="danger">El campo es invalido</ion-note>


    <ion-item>
      <ion-label>Contraseña:
        <ion-input type="password" [clearInput]="true" mode="ios" formControlName="password"></ion-input>
      </ion-label>
    </ion-item>
    <ion-note color="danger">La contraseña es requerida</ion-note>

<!--    icono desde https://ionic.io/ionicons-->
    <ion-button color="success" type="submit" expand="block" [disabled]="true" mode="ios"> <ion-icon name="log-in-outline"></ion-icon> Iniciar Sesion  </ion-button>



  </form>
</ion-content>
